version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:14.16.1
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm ci
      - run:
          name: Release pre-check
          command: npm pack
      - persist_to_workspace:
          root: ~/project
          paths: .
  deploy:
    docker:
      - image: circleci/node:14.16.1
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Authenticate with npm registry
          command: echo "//registry.npmjs.org/:_authToken=${TOKEN_NPM_RW}" >> .npmrc
      - run:
          name: Publish package
          command: npm publish

workflows:
  build-deploy-workflow:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+?$/
